/* ===========================================================================
==== INCLUDED FONTS
============================================================================== */
/* ===========================================================================
==== VARIABLES
============================================================================== */
/* FONTS
------------------------------------------------------------------------------ */
/* COLORS
------------------------------------------------------------------------------ */
/* WIDTHS
------------------------------------------------------------------------------ */
/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
/* ===========================================================================
==== HEADER
============================================================================== */
/* ===========================================================================
==== HOME PAGE STYLES
============================================================================== */
/* ===========================================================================
==== PRIMARY INTERIOR PAGE STYLES
============================================================================== */
/* ===========================================================================
==== FOOTER
============================================================================== */
/* ===========================================================================
==== FOR WORDPRESS
============================================================================== */
.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

img.align-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

img.align-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

img.align-center {
    margin: 0 auto;
}

/* ===========================================================================
==== MEDIA QUERIES
=========================================================================== */
/* VERY LARGE SCREENS (DESKTOP AND BIGGER)
------------------------------------------------------------------------------ */
/* LARGE SCREENS (DESKTOP/LAPTOP)
----------------------------------------------------------------------------*/
/* IPAD SPECIFICALLY
------------------------------------------------------------------------------ */
/* TABLETS
------------------------------------------------------------------------------ */
/* MEDIUM SCREENS (LARGE PHONES)
----------------------------------------------------------------------------*/
/* SMALL SCREENS (SMALL PHONES)
----------------------------------------------------------------------------*/