/* ===========================================================================
==== HEADER
============================================================================== */
.header {
  margin-top: 1rem;
}

.nav__primary {
  text-align: center;

  @include brk-med {
    text-align: right;
    width: 8em;
  }
}

.nav__primary--link {
  color: $grey-dark;
  margin-right: 2em;
  text-decoration: none;

  &:hover,
  &:active {
    color: $text-clr;
    font-weight: bold;
  }

  &:first-child {
    font-weight: bold;
  }

  &:last-child {
    margin-right: 0;
  }

  @include brk-med {
    display: block;
    margin-right: 0;
  }

  .home {
    font-weight: bold;
  }
}