/* ===========================================================================
==== VARIABLES
============================================================================== */

/* RESPONSIVE MEDIA QUERIES
------------------------------------------------------------------------------ */
$brk-small-width: 30em;
$brk-med-width: 45em;
$brk-large-width: 60em;
$brk-xlarge-width: 75em;

@mixin brk-small {
  @media screen and (min-width: $brk-small-width) {
    @content;
  }
}

@mixin brk-med {
  @media screen and (min-width: $brk-med-width) {
    @content;
  }
}

@mixin brk-large {
  @media screen and (min-width: $brk-large-width) {
    @content;
  }
}

@mixin brk-xlarge {
  @media screen and (min-width: $brk-xlarge-width) {
    @content;
  }
}

/* FONTS
------------------------------------------------------------------------------ */
$font-stack: Helvetica, Arial, sans-serif;

/* COLORS
------------------------------------------------------------------------------ */
$grey: #999;
$grey-light: #eee;
$grey-dark: #666;
$text: #222;

/* COLOR CONFIGS
------------------------------------------------------------------------------ */
$bg-clr: $grey-light;
$text-clr: $text;
$link-clr: red;
$highlight-clr: red;

/* WIDTHS
------------------------------------------------------------------------------ */
.row {
  float: left;
  width: 100%;
}

.xshort,
.short,
.one-third,
.med,
.two-thirds,
.long,
.xlong,
.full {
  float: left;
  width: 100%;
}

@include brk-small {
  .xshort,
  .short,
  .med {
    width: 25%;
  }
  .one-third {
    width: 32%;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
  .long {
    width: 49%;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
  .two-thirds {
    width: 66.66666%;
  }
}

@include brk-large {
  .xshort {
    width: 6.25%;
  }
  .short {
    width: 12.5%;
  }
  .xlong {
    width: 75%;
  }
}